{{ partial "header.html" . }}

<nav class="main">
   <div class="content">
      <a href="{{ .Site.BaseURL }}" class="btn has-arrow has-arrow-left">
         <img src="/assets/icons/arrow-white.svg"> Home
      </a>
   </div>
</nav>

<div id="post-index" class="container">
   <h1>
      {{ print (.Data.Singular | title) " " .Title }}
   </h1>

   <hr class="full-width">

   <ol class="post-list category-post-list">
      {{ $pag := .Paginate .Pages }}
      {{ range $pag.Pages }}
      {{ partial "page-stub.html" . }}
      {{ end }}
   </ol>

   <div class="post-navigation">
      {{ partial "pagination.html" . }}
   </div>
</div>

{{ partial "footer.html" . }}