$dark: #000;
$light: #fff;
$link: #fa8d8d;

$copy: 'jetbrains-mono', serif;
$sans: 'vladivostok', sans-serif;

$shadow: 0 0 20px 5px rgba($color: $dark, $alpha: .05);
$cubic: cubic-bezier(0.19, 1, 0.22, 1);