{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
   {{ partial "intro.html" . }}

   <hr class="full-width">

   <h1>Deployment test</h1>

   <ol class="post-list">
      {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      {{ range $pag.Pages.ByPublishDate.Reverse }}
      {{ partial "post-stub.html" . }}
      {{ end }}

      {{ partial "category-list.html" . }}
   </ol>

   <!-- filtered list by category -->
   <!-- <ol>
      {{ range .Site.Taxonomies.categories.random }}
      <li>{{ .Page.Title }}</li>
      {{ end }}
   </ol> -->

   <hr class="full-width">

   <div class="post-navigation">
      {{ partial "pagination.html" . }}
   </div>
</div>

{{ partial "footer.html" . }}