<nav class="main">
   <div class="content">
      <a href="{{ .Site.BaseURL }}" class="btn has-arrow has-arrow-left">
         <img src="/assets/icons/arrow-white.svg"> Home
      </a>
   </div>
</nav>

<button class="btn scroll-to-content">
   scroll to read <img src="/assets/icons/arrow-white.svg">
</button>

<header class="post-header type-post"> 
   {{ with .Params.Image }}
      <div class="featured-image-wrapper">
         <img class="post-featured-image" src="{{ . }}">
      </div>
   {{ end }}

   <div class="layout">
      <div class="post-heading-description">
         <h1 class="post-title" itemprop="name headline">
            {{ .Title }}
         </h1>

         <div class="description">
            {{ if .Description }}
            <p class="post-description" itemprop="description">{{ .Description }}</p>
            {{ end }}
         </div>

         <div class="reading-time">
            <p>
               Reading time: {{ .ReadingTime }} minutes
            </p>
         </div>
      </div>

      <div class="post-meta">
         <p class="post-date{{ if not .Site.Params.readingTime }} post-line{{ end }} post-date">
            <span>
               Published <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
            </span>
         </p>
         
         {{ if .Params.tags }}
         <div class="post-tags">
            {{ $len := len .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" class="tag-link">{{ . }}</a>
            {{ end }}
         </div>
         {{ end}}
         
         {{ if .Site.Params.readingTime }}
         <p class="post-reading post-line">
            <span>{{ .Site.Params.readingTimeText }} {{ .Page.ReadingTime }} min</span>
         </p>
         {{ end }}
      </div>
   </div>
</header>

<hr>