
</div>

<footer class="site-footer">
   <a class="btn button-jump-top js-jump-top" href="#">
      scroll top <img src="/assets/icons/arrow-white.svg">
   </a>

   <div class="content">
      <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">
         <h2>{{ .Site.Title }}</h2>
      </a>
      
      <p class="footer-copyright">
         <span>&copy;{{ .Site.LastChange.Format "2006" }} by <a href="https://linuscodes.com/blog">linuscodes</a></span>
      </p>
   </div>
</footer>

<script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>

{{ if .Site.Params.highlightJsUrl }}
<script src="{{ .Site.Params.highlightJsUrl }}"></script>
{{ else if .Site.Params.highlightJsLocalUrl }}
<script src="{{ .Site.BaseURL }}{{ .Site.Params.highlightJsLocalUrl }}"></script>
{{ else }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{{ end }}

<script src="{{ .Site.BaseURL }}js/scripts.js"></script>
</body>

</html>