
</div>

<footer class="site-footer">
   <a class="btn button-jump-top js-jump-top" href="#">
      scroll top <img src="/assets/icons/arrow-white.svg">
   </a>

   <div class="content">
      <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">
         <h2>{{ .Site.Title }}</h2>
      </a>

      <p class="footer-copyright">
         <span>&copy;{{ .Site.LastChange.Format "2006" }} by <a href="https://linuscodes.com">Linus Rogge</a></span> <i>All rights reserved.</i>
      </p>

      <div class="mailchimp-signup-form">
         <h2>
            Get notified
         </h2>
         <p>
            ...when a new post is published! You can unsubscribe at any time.
         </p>

         <!-- Begin Mailchimp Signup Form -->
         <div id="mc_embed_signup">
            <form action="https://linuscodes.us19.list-manage.com/subscribe/post?u=d748588ad5c7a6fc74f98fecf&amp;id=65b8b6a795" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
               <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Mail">

                  <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Your first name">

                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                     <input type="text" name="b_d748588ad5c7a6fc74f98fecf_65b8b6a795" tabindex="-1" value="">
                  </div>

                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

                  <div id="mce-responses" class="clear">
                     <div class="response" id="mce-error-response" style="display:none"></div>
                     <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
               </div>
            </form>
         </div>

      <!--End mc_embed_signup-->
      </div>
   </div>
</footer>

<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer src="{{ .Site.BaseURL }}js/scripts.js"></script>
</body>

</html>
